[tool.poetry]
name = "nekro-agent"
version = "1.1.4"
description = "更智能、更优雅的代理执行 AI"
authors = ["KroMiose <li_xiangff@163.com>"]
readme = "README.md"
packages = [
    { include = "nekro_agent" },
    { include = "plugins" },
]
repository = "https://github.com/KroMiose/nekro-agent"

[tool.poetry.scripts]
publish = "scripts.run_publish:main"
bot = "run_bot:main"

[tool.poetry.dependencies]
python = ">=3.10,<3.12"
miose-toolkit-common = "^0.3.7"
miose-toolkit-logger = "^0.0.7"
python-jose = { extras = ["cryptography"], version = "^3.3.0" }
passlib = { extras = ["bcrypt"], version = "^1.7.4" }
nonebot-adapter-onebot = "^2.4.2"
nonebot2 = { extras = ["fastapi"], version = "^2.2.1" }
httpx = "^0.27.0"
tiktoken = "^0.7.0"
docker = "^7.1.0"
aiodocker = "^0.22.2"
openai = ">=0.27.0"
openpyxl = "^3.1.2"
pillow = "^10.4.0"
psycopg2-binary = "^2.9.9"
python-multipart = "^0.0.9"
bcrypt = "^4.2.0"
toml = "^0.10.2"
weave = "^0.51.19"
tortoise-orm = "0.24"
asyncpg = "^0.30.0"
json5 = "^0.10.0"
sse-starlette = "^2.2.1"
lunar-python = "^1.3.12"
tzlocal = "^5.2"
aiosmtplib = "^2.0.0"
aiofiles = "^24.1.0"
python-magic = "^0.4.27"
python-magic-bin = { version = "^0.4.14", markers = "sys_platform == 'win32'" }
psutil = "^7.0.0"
mem0ai = "^0.1.79"
gitpython = "^3.1.44"
qdrant-client = "^1.13.3"
mcp = "^1.7.0"

[tool.poetry.group.dev.dependencies]
uvicorn = "^0.23.2"
nb-cli = "^1.4.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.nonebot]
adapters = [
    { name = "OneBot V11", module_name = "nonebot.adapters.onebot.v11" },
]
plugins = ["nekro_agent"]
plugin_dirs = []
builtin_plugins = []

#[[tool.poetry.source]]
#name = "aliyun"
#url = "https://mirrors.aliyun.com/pypi/simple/"
#priority = "primary"

[tool.black]
line-length = 128

[tool.ruff]
extend-exclude = []
ignore = [
    "E402",
    "E501",
    "E722",
    "B008",
    "B905",
    "F401",
    "TID252",
    "TRY002",
    "TRY003",
    "RUF001",
    "RUF002",
    "RUF003",
    "RUF006",
    "RUF012",
    "RUF100",
    "PGH003",
    "N801",
    "A003",
]
select = [
    "F",
    "E",
    "I",
    "B",
    "A",
    "COM",
    "C4",
    "ISC",
    "PIE",
    "PYI",
    "Q",
    "RSE",
    "RET",
    "SLF",
    "SIM",
    "TID",
    "ARG",
    "PTH",
    "PGH",
    "TRY",
    "RUF",
]
