name: Plugin Load Test

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  plugin-load-test:
    name: Run Plugin Load Test
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install UV
        uses: astral-sh/setup-uv@v4
        with:
          version: "latest"
          enable-cache: true

      - name: Install Dependencies
        run: uv sync

      - name: Plugin Load Test
        run: |
          uv run bot --load-test
          if [ $? -ne 0 ]; then
            echo "Debug Mode Enabled"
            uv run bot --load-test --verbose
          fi
