name: Publish to PyPI

on:
  push:
    tags:
      - v*.*.*

jobs:
  build-n-publish:
    name: Build and publish to PyPI
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Set up Python 3.10
        uses: actions/setup-python@v1
        with:
          python-version: 3.10.14
      - name: Install Poetry
        run: >-
          curl -sSL https://install.python-poetry.org | python3 -
      - name: Install Dependencies
        run: >-
          poetry install
      - name: PyPI Setup
        run: >-
          poetry config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
      - name: Publish Package
        run: >-
          poetry run publish
