name: Release Docker Images

on:
  push:
    tags:
      - v*.*.*
  workflow_dispatch:

jobs:
  setup-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get_version.outputs.version }}
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install toml
        run: pip install toml
      - name: Get Version
        id: get_version
        run: |
          VERSION=$(python3 -c 'import toml; print(toml.load("pyproject.toml")["tool"]["poetry"]["version"])')
          echo "version=${VERSION}" >> $GITHUB_OUTPUT

  build-and-push-agent:
    name: Build and Push Agent Image
    runs-on: ubuntu-latest
    needs: setup-version
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push Multi-arch Images
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            kromiose/nekro-agent:${{ needs.setup-version.outputs.version }}
            kromiose/nekro-agent:latest
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
      - name: Docker Logout
        run: docker logout

  build-and-push-sandbox:
    name: Build and Push Sandbox Image
    runs-on: ubuntu-latest
    needs: setup-version
    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Build and Push Multi-arch Images
        uses: docker/build-push-action@v6
        with:
          context: ./sandbox
          file: sandbox/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            kromiose/nekro-agent-sandbox:${{ needs.setup-version.outputs.version }}
            kromiose/nekro-agent-sandbox:latest
          # cache-from: type=gha
          # cache-to: type=gha,mode=max
      - name: Docker Logout
        run: docker logout
